<div class="jumbotron text-center">
  <h1>Locations</h1>
  <p>Enter your <span class="text-danger">location</span> below.</p>

  <div ng-controller="HomeController">

    <input type="text" class="form-control" ng-change="searchZipcode(searchCriteria)" ng-model-options="{ debounce: 400 }" type="text" title="required input" ng-model="searchCriteria" placeholder="Enter your Location (City, State)" />
    <br>
    <br>

    <div ng-repeat="restaurants in locations">
      <div class="listings" ng-repeat="restaurant in restaurants">
        <div class="locations-img">
          <img src="{{ restaurant.thumb }}" />
        </div>
        <div class="main-attr"><span><b>{{ restaurant.name }}</b></span>
          <div class="rating">
            <span>Rating: {{restaurant.user_rating.aggregate_rating}}</span>
          </div>
        </div>
        <div class="secondary-attr">{{ restaurant.location.address }}</div>
        <div class="addButton">
          <button type="button" class="btn btn-primary btn-lg">Add to List</button>
          <!-- {{restaurant.R.res_id}} -->
        </div>

        <br style="clear: left;" />
      </div>
    </div>

  </div>

</div>
