<div ng-controller="MylistController">
  <div class="jumbotron text-center">
    <ui-view>
      <div ng-hide="hideIt">
    </ui-view>
    <h2>My Favorite Taco Locations</h2>
    <br>
    <div class="listings" ng-repeat="list in mylist">
      <div class="locations-img">
        <img src="{{list.thumb}}" />
      </div>
      <div class="main-attr"><span><b>  <a ui-sref="list.location({id: list.id})">{{ list.name }}</a></b></span>
        <div class="rating">
          <span>Rating: {{list.user_rating.aggregate_rating}}</span>
        </div>
      </div>
      <div class="secondary-attr">{{ list.location.address }}</div>
      <div class="addButton">
        <button type="button" class="btn btn-danger btn-lg" ng-click="deleteRestaurant(list.R.res_id)">Delete this location</button>
        <button type="button" class="btn btn-primary btn-lg" ng-click="upVote(list)">Up Vote!</button>
        Votes: {{list.upVotes}}
      </div>
      <br style="clear: left;" />
    </div>
    </div>

  </div>
