<div ng-controller="HomeController">
  <a ui-sref="list.location">Go to the nested view</a>  <!-- temp nested view shortcut -->


  <div class="jumbotron text-center">
    <ui-view>  <!-- hide parent view -->
      <div ng-hide="hideIt"> <!-- hide parent view -->
    </ui-view> <!-- hide parent view -->

    <h2>My Favorite Taco Locations</h2>
    <!-- {{mylist}} -->
    <!-- <div ng-repeat="list in mylist">

      {{list}}
    </div> -->
    <br>
    <div class="listings" ng-repeat="list in mylist">
      <div class="locations-img">
        <img src="{{list.thumb}}" />
      </div>
      <div class="main-attr"><span><b>{{ list.name }}</b></span>
        <div class="rating">
          <span>Rating: {{list.user_rating.aggregate_rating}}</span>
        </div>
      </div>
      <div class="secondary-attr">{{ list.location.address }}</div>
      <div class="addButton">
        <button type="button" class="btn btn-danger btn-lg" ng-click="deleteRestaurant(list.R.res_id)">Delete this location</button>
        <!-- {{restaurant.R.res_id}} -->
      </div>
      <br style="clear: left;" />
    </div>
  </div>

</div>
